/build/
/.idea/
/.vscode/
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
install_manifest.txt
Testing/
*.user
*.pro.user
*.autosave
*.o
*.obj
*.so
*.a
*.dll
*.dylib
*.exe
*.log
*.csv
third_party/
!third_party/.gitkeep
